body{
 font-family: Arial;
 background:#f2f2f2;
 text-align:center;
}

.box{
 background:white;
 padding:20px;
 margin:20px auto;
 width:300px;
 border-radius:10px;
 box-shadow:0 0 10px gray;
}

button{
 padding:10px;
 width:100%;
 background:#0a58ca;
 color:white;
 border:none;
 margin-top:15px;
 cursor:pointer;
}
